<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Votação</title>
</head>
<body>
    <div>
        <h1>Bem-vindo ao sistema de votação</h1>
        <div>
            <button onclick="window.location.href='/login'">Login</button>
            <button onclick="window.location.href='/register'">Registro</button>
            <button onclick="window.location.href='/camisas'">Camisas</button>
            <button onclick="window.location.href='/canecas'">Canecas</button>
            <button onclick="window.location.href='/admin'">Admin</button>
            <button onclick="window.location.href='/whatsapp'">WhatsApp</button>
        </div>
    </div>
</body>
</html>