<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar-se - Sistema de Votação</title>
</head>
<body>
    <div>
        <h1>Registro</h1>
        <p>Crie sua conta aqui.</p>
        <form action="/registrar" method="POST">
            <label for="username">Usuário:</label><br>
            <input type="text" id="username" name="username" required><br>
            <label for="password">Senha:</label><br>
            <input type="password" id="password" name="password" required><br>
            <label for="confirm_password">Confirmar Senha:</label><br>
            <input type="password" id="confirm_password" name="confirm_password" required><br><br>
            <input type="submit" value="Registrar">
        </form>
        <a href="/"><button>Voltar</button></a>
    </div>
</body>
</html>